[submodule "athenapp"]
	path = athenapp
	url = https://github.com/chengcli/athenapp
[submodule "debugger"]
	path = debugger
	url = https://github.com/chengcli/debugger
[submodule "cliutils"]
	path = cliutils
	url = https://github.com/chengcli/cliutils
